<section>
    {% for post in postslist | reverse %}
        <article>
            <div><img src="{{ post.data.image }}" alt="{{ post.data.alt }}"/></div>
            {{ post.data.layoutContent | safe }}
        </article>
    {% endfor %}
</section>